<template name="Profiles">
			{{#if usersEmpty users}}
				Aucun utilisateur
			{{else}}
				{{#each users}}
					<fieldset>
						<h3>Informations utilisateur</h3>

							<p>Nom : {{name}} </p>
							<p>Prénom : {{firstname}} </p>
							<p>Email : {{email}} </p>
							<p>Age : {{age}} </p> 
							<p>Sexe : 	{{#if sex}}
											Homme 
									 	{{else}}
									 		Femme 
									 	{{/if}}
							</p>

						<h3>Les informations de correction : </h3>
							<ul>
							    {{#each correcObj}}
							   		<!--<li>Fichier image : {{pic @index}}</li>-->
							   	  {{#each picObj}}
							   	  	<li>Fichier image : {{fileName}}</li>
							      	{{#each QA}}
							      		<li>Question : {{question}}</li>
							      		<li>Réponse : {{answerUser}}</li>
							      		<li>Réponse correcte : {{answerCorrect}}</li>
								  	{{/each}}
								  {{/each}}
							      <li>Correction de type : {{type}}</li>
							      <li>Type de déficence : {{CB_type}}</li>
					      		  <li>Configuration préférée ? {{#if isBest}}Oui{{else}}Non{{/if}}</li>

							      <ul>
							      	{{#each rulesObj}}
								      	<li>{{parameter}} : {{value}} </li>
								    {{/each}}
								  </ul>
							    {{/each}}
							</ul>
					</fieldset>
				    <hr />
				{{/each}}
			{{/if}}
		<br/><br/>	
  		<p><a href="{{pathFor 'Home'}}">&larr; Retour</a></p>
  		
</template>