<template name = "Dashboard">

	<div class="home">

			<div id="wrapper">
		
				<!-- Sidebar -->
				{{>Sidebar}}
		
				<!-- Page Content -->
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								
								<p>Nombre total d'utilisateurs : {{user.count}}</p>
								<br/><br/><br/>
								
								<table class="table table-hover">  
									<caption>Utilisateurs de l'application</caption>
									<thead>
										<tr>
											<th>Nom</th>
											<th>Prénom</th>
											<th>Âge</th>
											<th>Genre</th>
											<th>Date d'inscription</th>
										</tr>
									</thead>
									<tbody id="userTab">
										{{#each user}}
											<tr id={{_id}}>
												<td>{{name}}</td>
												<td>{{firstname}}</td>
												<td>{{age}}</td>
												<td>{{#if sex}}
														M
													{{else}}
														F
													{{/if}}
												</td>
												<td>{{date_created}}</td>
											</tr>
										{{/each}}
									</tbody>
								</table>
								<br/><br/><br/>
								
							</div>
						</div>
					</div>
				</div>
		
			</div>
	</div>

</template>