
  /***************************\
  |  CSS for Profiler system  |
  \***************************/

* {
	margin:0; 
	padding:0;
}

body {
	font:normal 100% "jaf-bernino-sans", sans-serif;
	font-weight: lighter;
	background-color:#fafafa;
	color:#333;
}
 
header {
	background-color:#fff;
	position: relative;
}

header h3 {
	color:#bbb;
	text-align: center;
	font-size: 1.0em;
	font-family: "jaf-bernino-sans", sans-serif;
	
}

header h2.titleCorrectionTool {
	text-align: center;
	font-size: 2.3em;
	font-family: "kepler-std-display", serif;
	padding:20px 15px;
}


.btnPrimary {
	display: block;
	padding:12px 25px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	width: 150px;
	margin:20px auto 0 auto;
	background-color:#0277BD;
	color:#fff;
	text-decoration: none;
	font-weight: 500;
	transition: background-color 0.5s ease;
}

.content {
	padding-top:30px;
	padding-bottom:30px;
}

.btnPrimary:hover {
	background-color:#01579B;
}
