<template name = "Adjust" class="test">
	
	{{>Header info=txt}}
	<div class="content">
		
		<ul class="filtreAjustement">
			<li class="filtreMoins imgMoins"><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></li>
			<li><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></li>
			<li class="filtrePlus imgPlus"><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></li>
		</ul>
		
		<a href={{urlNext}} class="btnPrimary">Valider mon choix</a>
		
	</div>
	
</template>