<template name = "Adjust" class="test">
	
	{{>Header template="Adjust"}}
	
	<div class="content">
		
		<ul class="filtreAjustement">
			{{>Picture template="Adjust" idImg="-" check=false click=true classLi="filtreMoins imgMoins"}}
			{{>Picture template="Adjust" idImg="1" check=false click=false classLi=""}}
			{{>Picture template="Adjust" idImg="+" check=false click=true classLi="filtrePlus imgPlus"}}
		</ul>
		
		{{>linkNext template="Adjust" class="btnPrimary" txt="Valider mon choix"}}
		
	</div>
	
</template>