<template name = "Choice">
	
	{{>Header template="Choice"}}

	<div class="content">
		
		<ul class="validationImage">
			{{>Picture template="Choice" idImg="-1" check=true click=true classLi=""}}
			{{>Picture template="Choice" idImg="0" check=true click=true classLi=""}}
			{{>Picture template="Choice" idImg="+1" check=true click=true classLi=""}}
		</ul>
	 
		<ul class="confirmation">
			<li>{{>linkReset template="Choice" txt="Non, je souhaite réajuster"}}</li>
			<li>{{>linkNext template="Choice" class="btnPrimary2" txt="Je confirme mon choix"}}</li>
		</ul>
		
	</div>

</template>