<template name = "Choice">
	
	{{>Header info=txt}}

	<div class="content">
		
		<ul class="validationImage">
			<li><a href=""><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></a></li>
			<li><a href=""><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></a></li>
			<li><a href=""><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></a></li>
		</ul>
	
		<ul class="confirmation">
			<li><a href={{urlReset}} class="btnSecondary">Non, je souhaite réajuster</a></li>
			<li><a href={{urlNext}} class="btnPrimary2">Je confirme mon choix</a></li>
		</ul>
		
	</div>

</template>