<template name="Form">
	
	<div class="home">
	
		{{>Logo}}
		
		<div class="center">
			<div class="main">
				
				<h2>Merci !</h2>
				<p>Le test est à présent terminé, un tout grand merci à vous ! 
				<br />Avant de nous quitter, pouvez-vous nous laisser vos coordonnées ?
				 Ainsi, nous vous tiendrons informé de l'évolution du projet.</p>
				 
				<form method="post" action={{urlNext}} class="formInfos">
					<label for="nom">Votre nom</label>
					<input type="text" id="nom" placeholder="Votre nom" />
					
					<label for="prenom">Votre prénom</label>
					<input type="text" id="prenom" placeholder="Votre prénom" />
					
					<label for="email">Votre email</label>
					<input type="email" id="email" placeholder="Votre email" />
					
					<label for="age">Quel âge avez-vous?</label>
					<input type="text" id="age" placeholder="Votre âge" />
					
					<input type="submit" class="btnPrimary" value="Valider" />
				</form>
				
			</div>
			
		</div>
		
	</div>
	
</template>
