<template name = "Select">
		
	{{>Header template="Select"}} 
	
	<div class="content">
		
		<div class="choixImagesCroix">
			<ul>
				{{>Picture template="Select" idImg="1" check=false click=true classLi=""}}
			</ul>
		
			<ul>
				{{>Picture template="Select" idImg="2" check=false click=true classLi=""}}
				{{>Picture template="Select" idImg="0" check=false click=true classLi=""}}
				{{>Picture template="Select" idImg="3" check=false click=true classLi=""}}
			</ul>
		
			<ul>
				{{>Picture template="Select" idImg="4" check=false click=true classLi=""}}
			</ul>
		</div>
	
	</div>
 
</template>