<template name = "Select">
		
	{{>Header info=txt}} 
	<div class="choixImagesCroix">
		<ul>
			<li><a href={{urlNext}}><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></a></li>
			<li><a href={{urlNext}}><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></a></li>
			<li><a href={{urlNext}}><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></a></li>
			<li><a href={{urlNext}}><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></a></li>
			<li><a href={{urlNext}}><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></a></li>
		</ul>
	</div>

</template>