<template name = "Upload">
	
	{{>Header info=txt}}
		
	<div class="validationUserPhoto">
			
		<p>
			C'est l'heure de vérité! Afin de vérifier vos préférences, nous vous invitons à uploader une photo de votre choix. 
			Cela doit nous permettre de valider si les réglages que vous avez effectués précédemment fonctionnent avec votre propre photo.
		</p>
		
		<form method="post" action={{urlNext}}>
			<input type="file" accept="image/*" />
			<input type="submit" class="btnPrimary" value="Envoyer ma photo" />
		</form>
			
	</div>
	
</template>