<div class="admin-analytics">

    <h1><i class="fa fa-bug" aria-hidden="true"></i> Bug Tracker</h1>

<p><span class="big" style="font-size:24px">{{ @bugs_count }} daltonian bugs</span></p>

<table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
        <tr>
	        <th style="width:150px">Date du rapport</th>
            <th style="width:200px">URL & Titre de la page</th>
            <th style="width:100px">Infos techniques</th>
            <th style="width:250px">Image</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @bugs }}" value="{{ @bug }}" counter="{{ @key }}">
            <tr style="vertical-align: top" >
	            <td>{{ @bug->creation_date }}<br>par: {{ @bug->profile_name }}</td>
                <td style="max-width:100px"><a target="_blank" title="Voir la page (nouvelle fenêtre)" href="{{ @bug->page_url }}" class="truncate">{{ @bug->page_url }}</a><br>{{ @bug->page_title }}</td>

                <td><strong>OS:</strong> {{ @bug->operating_system }}<br>{{ 
	                
	                $browser = new Browser(@bug->browser);
	                $browser->getPlatform();
	                }}<br><strong>Ecran:</strong> {{ @bug->screen_width }}x{{ @bug->screen_height }}
	            </td>
                <td>{{ @bug->screenshot_description }}<br>
	            <a href="{{ @bug->screenshot }}" target="_blank"><img src="{{ @bug->screenshot_cropped_result }}" style="max-width:100%"></a>
                </td>
            </tr>
        </repeat>
    </tbody>
</table>

<script src="/assets/js/jquery-1.12.0.min.js"></script>
<script src="/assets/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
    $(function() {
        $("table").tablesorter({debug: false})
    });
</script>