<div class="content center">
	<div class="home">
		<a href="/" class="logo-home">
			<img src="/assets/images/logo.png" alt="Retour à l'accueil">
		</a>
    
		<main>

			<h1>Connexion</h1>

			<div id="connexion-form" class="pure-g">
		        <div class="pure-u-1-4"></div>
		        <div class="pure-u-1-2">
		            <div class="subscribre">
		            	<p>Veuillez vous connecter pour accéder à l'espace admin. Vos informations restent strictement privées et ne seront utilisées qu'à des fins statistiques.</p>
		                <div class="text-center">
		                    <a href="/" id="subscribe-mail" class="button-social pure-button-primary btn-block ">
		                        Aller vers le formulaire
		                    </a>
		                </div>
		            </div>
		        </div>
		    </div>

			<?php foreach($errors as $error):?>
			    <p><?php echo $error; ?></p>
			<?php endforeach;?>

		</main>

		<?php require "views/footer.htm"; ?>
	</div>
</div>