<div class="content">

    <div class="center">
		<a href="#">
			<img src="/assets/images/logo.png" alt="Visionary">
		</a>
    </div>
    
    <h2>Download users for Database</h2>

    <div class="main">
	    <textarea name="" id="" cols="100" rows="20"><?php echo $csv; ?></textarea>
    </div>
	
	<form action="/admin/mailchimp" method="POST">
    	<button type="submit" name="save" value="save csv">save</button>
    	<button type="submit" name="save-db" value="save csv">save ulrs tests in database</button>
    </form>

</div>

