
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/admin/users/" class="pure-menu-link">
            <i class="fa fa-users" aria-hidden="true"></i>Users</a>
        </li>
        <li class="pure-menu-item"><a href="/admin/vetted/" class="pure-menu-link">
        	<i class="fa fa-users" aria-hidden="true"></i>Vetted</a>
        </li>
        <li class="pure-menu-item"><a href="/admin/tests/" class="pure-menu-link">
        	<i class="fa fa-file-text" aria-hidden="true"></i>Tests</a>
        </li>
        <li class="pure-menu-item"><a href="/admin/analytics/" class="pure-menu-link">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>Analytics</a>
        </li>
        <!--
        <li class="pure-menu-item"><a href="/admin/fixdatabase/" class="pure-menu-link">
            <i class="fa fa-table" aria-hidden="true"></i>fixdatabase</a>
        </li>
        -->
        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
        </li>
    </ul>
</div>

