<h1>Tests</h1>

<table class="pure-table pure-table-horizontal tablesorter">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Result</th>
            <th>Ratio</th>
            <th>Finished</th>
            <th>Trials</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Last login</th>
            <th>Vetted</th>
            <th>Voir</th>
        </tr>
    </thead>
    <tbody>

    <repeat group="{{ @tests }}" value="{{ @test }}" counter="{{ @key }}">
        <tr class="{{ @key%2 ? '' : 'pure-table-odd'}}">
            <td>{{ @test->id }}</td>
            <td>{{ @test->username }}</td>
            <td>{{ @test->diag_result }}</td>
            <td>{{ @test->diag_ratio }}</td>
            <td>{{ @test->finished ? "finished" : "unfinished" }}</td>
            <td>{{ @distinct_users_trials[@test->users_id]["test_count"] }}</td>
            <td>{{ date("Y") - @test->birth_date }}</td>
            <td>{{ @test->gender == "M" ? "Homme":"Femme" }}</td>
            <td>{{ @test->last_login }}</td>
            <td>{{ @test->vetted ? "Invited" : "Normal" }}</td>
            <td><a href="/admin/test/{{ @$test->unique_url }}">Voir</a></td>
        </tr>
    </repeat>


       
    </tbody>
</table>

<script src="/assets/js/jquery-1.12.0.min.js"></script>
<script src="/assets/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
    $(function() {
        $("table").tablesorter({debug: false})
    });
</script>

