<template name = "Select_ligne">
	
	{{>Header template="Select_ligne"}} 
	
	<div class="content">
		
		<div class="choixImageLigne">
			<ul>
				{{>Picture template="Select_ligne" idImg="1" check=false click=true classLi=""}}
				{{>Picture template="Select_ligne" idImg="2" check=false click=true classLi=""}}
				{{>Picture template="Select_ligne" idImg="0" check=false click=true classLi=""}}
				{{>Picture template="Select_ligne" idImg="3" check=false click=true classLi=""}}
				{{>Picture template="Select_ligne" idImg="4" check=false click=true classLi=""}}
			</ul>
		</div>
	
	</div>
	
</template>