<template name="Header">
	<header>
		<ul class="breadcrumb">
			<li><a href="{{pathFor route='Index'}}" class="past index"><i class="fa fa-home"></i></a></li>
			<li><a href="" class="past">Test de classement</a></li>
			<li><a href="" class="active">Choix de l'image</a></li>
			<li><a href="">Filtre</a></li>
			<li><a href="">Choix de l'image</a></li>
			<li><a href="">Filtre</a></li>
			<li><a href="">Merci</a></li>
		</ul>	
		<div class="aide">
			<i class="fa fa-info"></i>
			<div class="boiteAideContextuelle">
				<div class="aideContextuelle">
					<h2>Êtes-vous daltonien(ne)?</h2>
					<p>
						Le test que vous allez réaliser a pour objectif de nous permettre de mieux comprendre votre daltonisme
					 	et au terme du test, corriger les couleurs de votre écran selon votre vision.
					</p>
				</div>
			</div>
		</div>
		<h2>{{info template}}</h2>
	</header>
</template>