<template name="TestDeClassement">

    
    <div id="homeScreen" class="home">
        <div class="center">
            <h1><a href="/v2"><img src="../../pictures/logo.png" alt="Visionary"></a></h1>
        </div>
        <div class="center">
            <div class="main">
                <h2>Choisissez votre test</h2>
                <a id="classement" class="btnPrimary">Test de classement</a>
                <a id="reconaissance" class="btnPrimary">Test de reconaissance</a>
            </div>
        </div>
    </div>

    <div id="test-1" class="test hide">

        <section class="color-arrangement">
            <ul id="list-sortable" class="color-list"></ul>
        </section>

        <div class="brienfing">
            <button id="toggle-cheat">Settings</button>
            <div id="cheat" class="hide">
                <div id="commands">
                    <button id="set-normal">Set normal</button>
                    <button id="set-protan">Set protan</button>
                    <button id="set-deutan">Set deutan</button>
                    <button id="set-tritan">Set tritan</button>
                    <button id="set-random">Set random</button>
                </div>
            </div>

            <div class="briefing-content">
                <!-- <a href="http://colour-blindness.org/">
                    <img src="../../pictures/logo.png" alt="Visionary">
                </a>
                 -->
                <h1 class='text-center'>Test d'arrangement de couleur
                <small>Test dichotomique de Farnsworth pour la cécité des couleurs - Série D-15</small>
                </h1>

                <p class="test-instruction text-center">Disposez les bande de couleur en choisissant la couleur la plus proche de la couleur pilote à gauche. Vous pouvez les commander en faisant un cliquer-glisser.</p>

                <p>
                    <a href="#" id="show-result" class="btnPrimary">J'ai fini</a>
                </p>
            </div>
        </div>

        <main class="result text-center">

            <div class="container home main">
                <h2>Analyse dychotomique</h2>

                <div class="result-instruction text-left hide">
                    <p>La ligne noire décrit l'ordre des plaques que vous avez réalisé. Les personnes avec une vision normale forment un cercle (P, 1, 2, ..., 15).</p>

                    <p>Les diagonales indiquent une certaine forme de daltonisme.</p>

                    <p>Le parallélisme avec les ligne de confusion (protan, deutan, tritan) est un indice pour le type de votre daltonisme.</p>
                </div>

                <div id="graph-1" class="graph"></div>

                <!--<p><span id="cvd_type"></span></p>-->

                <form class="form-result">
                    <div class="column">
                        <strong class="text-left">Type Axe de confusion</strong>
                        <p class="hide"><input type="checkbox" name="type" value="normal">normal</p>
                        <p><input type="checkbox" name="type" value="protan">Protane (Rouge - bleu vert)</p>
                        <p><input type="checkbox" name="type" value="deutan">Deutan (Vert - rouge pourpre)</p>
                        <p><input type="checkbox" name="type" value="tritan">Tritane (Violet - jaune vert)</p>
                    </div>
                    <div class="column offst-top-20">
                        <strong class="text-left"> </strong>
                        <p><input type="checkbox" name="result" value="succeed">Réussite</p>
                        <p><input type="checkbox" name="result" value="fail">Echec</p>
                    </div>
                </form>

                <p class="text-left">
                    <strong>Ordre donné :</strong> <span class="currentOrder"></span>
                </p>

                <p class="text-left">
                    <strong>Gravité de la confusion :</strong> <span class="severity_range"></span>
                </p>

                <table class="result-table">
                    <thead>
                        <tr>
                            <th>Angle</th>
                            <th>Major</th>
                            <th>Minor</th>
                            <th>TES</th>
                            <th>S-index</th>
                            <th>C-index</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="angle"></td>
                            <td class="major_radius"></td>
                            <td class="minor_radius"></td>
                            <td class="tes"></td>
                            <td class="s_index"></td>
                            <td class="c_index"></td>
                        </tr>
                    </tbody>    
                </table>

            </div>

        </main>

    </div>








    <div id="test-2" class="test hide">
        
        <section class="color-arrangement">
            <ul id="list-normal" class="color-list"></ul>
        </section>

        <div class="brienfing">
            <div class="briefing-content">
                <h1 class='text-center'>Test d'arrangement de couleur
                    <small>Test dichotomique de Farnsworth pour la cécité des couleurs - Série D-15</small>
                </h1>
                <ul id="choices" class="list-inline">
                    <li><a id="pick-normal">1</a></li>
                    <li><a id="pick-protan">2</a></li>
                    <li><a id="pick-deutan">3</a></li>
                    <li><a id="pick-tritan">4</a></li>
                    <li><a id="pick-deuteranormal">5</a></li>
                    <li><a id="pick-tritan-crossing">6</a></li>
                </ul>
                <p>
                    <a href="#" id="show-final" class="btnPrimary">J'ai fini</a>
                </p>
            </div>
        </div>

        <main class="result text-center">

            <div class="container home main">
                <h2>Analyse dychotomique</h2>

                <div class="result-instruction text-left hide">
                    <p>La ligne noire décrit l'ordre des plaques que vous avez réalisé. Les personnes avec une vision normale forment un cercle (P, 1, 2, ..., 15).</p>

                    <p>Les diagonales indiquent une certaine forme de daltonisme.</p>

                    <p>Le parallélisme avec les ligne de confusion (protan, deutan, tritan) est un indice pour le type de votre daltonisme.</p>
                </div>

                <div id="graph-2" class="graph"></div>

                <!--<p><span id="cvd_type"></span></p>-->

                <form class="form-result">
                    <div class="column">
                        <strong class="text-left">Type Axe de confusion</strong>
                        <p class="hide"><input type="checkbox" name="type" value="normal">normal</p>
                        <p><input type="checkbox" name="type" value="protan">Protane (Rouge - bleu vert)</p>
                        <p><input type="checkbox" name="type" value="deutan">Deutan (Vert - rouge pourpre)</p>
                        <p><input type="checkbox" name="type" value="tritan">Tritane (Violet - jaune vert)</p>
                    </div>
                    <div class="column offst-top-20">
                        <strong class="text-left"> </strong>
                        <p><input type="checkbox" name="result" value="succeed">Réussite</p>
                        <p><input type="checkbox" name="result" value="fail">Echec</p>
                    </div>
                </form>

                <p class="text-left">
                    <strong>Ordre donné :</strong> <span class="currentOrder"></span>
                </p>

                <p class="text-left">
                    <strong>Gravité de la confusion :</strong> <span class="severity_range"></span>
                </p>

                <table class="result-table">
                    <thead>
                        <tr>
                            <th>Angle</th>
                            <th>Major</th>
                            <th>Minor</th>
                            <th>TES</th>
                            <th>S-index</th>
                            <th>C-index</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="angle"></td>
                            <td class="major_radius"></td>
                            <td class="minor_radius"></td>
                            <td class="tes"></td>
                            <td class="s_index"></td>
                            <td class="c_index"></td>
                        </tr>
                    </tbody>    
                </table>

            </div>

        </main>

    </div>

</template>
