/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    font: normal 100% "jaf-bernino-sans", sans-serif;
    color: #4A4A4A;
}

body {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}
.part-top {
    height: 50%;
    background: #000;
}
.part-bottom {
    position: relative;
    height: 50%;
    padding: 20px;
}

.dragging {
    z-index: 1000;
}


#color-list {
    height: 100%;
    width: 100%;
}

#color-list li {
    display: inline;
    padding:0;
    margin:0;
    width: 6.25%;
    height: 100%;
    /*min-width: 40px;*/
    float: left;
    position: relative;
    text-align: center;
    /*padding: 20px;*/
}

#color-list li:hover {
    cursor: ew-resize;
    cursor: -webkit-grab;
}

#color-list li:after {
    content: "";
    width: 100%;
    border : 1px solid black;
    top: 0;
    right: 0px;
    height: 100%;
    display: block;
    position: absolute;
}

#color-list li {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
            tap-highlight-color: rgba(0,0,0,0);
}

#toggle-cheat {
    position: absolute;
    right: 0;
    top : 0;
    z-index: 2;
}
#cheat {
    position: absolute;
    right: 0;
    top : 0;
    background: #ccc;
    z-index: 1;
    width: 280px;
    opacity: .8;
}

.hide {
    display: none;
    opacity: 0;
}
#graph {
    float: right;
}


