<template name="TestDeClassement">

    <section class="part-top">
        <ul id="color-list"></ul>
    </section>

    <section class="part-bottom ">
        
        <h1>Visionary</h1>
        <h2>D-15 - Teste d'arrangement de couleur  </h2>
        <div id="result">
            <div id="angle"></div>
            <div id="major_radius"></div>
            <div id="minor_radius"></div>
            <div id="tes"></div>
            <div id="s_index"></div>
            <div id="c_index"></div>
            <div id="cvd_type"></div>
            <div id="severity_range"></div>
        </div>

        <button id="toggle-cheat">cheat</button>

        <div id="cheat" class="hide">
            <div id="graph"></div>
            <p id="currentOrder"></p>
            <div id="commands">
                <button id="set-normal">Set normal</button>
                <button id="set-protan">Set protan</button>
                <button id="set-deutan">Set deutan</button>
                <button id="set-tritan">Set tritan</button>
                <button id="set-random">Set random</button>
            </div>
        </div>

    </section>

</template>
