/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html, body {
    height: 100%;
    font: normal 100% "jaf-bernino-sans", sans-serif;
    color: #4A4A4A;
}

body {
    margin: 0;
    padding: 0;
}


.text-center {
    text-align: center;
}
.section-top {
    height: 70%;
    background: #000;
    position: relative;
}
.section-bottom {
    position: relative;
    height: 30%;
    padding: 20px;
}

.dragging {
    z-index: 1000;
}


#color-list {
    height: 100%;
    width: 100%;
}

#color-list li {
    display: inline;
    padding:0;
    margin:0;
    width: 6.25%;
    height: 100%;
    /*min-width: 40px;*/
    float: left;
    position: relative;
    text-align: center;
    /*padding: 20px;*/
}

#color-list li:hover {
    cursor: ew-resize;
    cursor: -webkit-grab;
}

#color-list li:after {
    content: "";
    width: 100%;
    border : 1px solid black;
    top: 0;
    right: 0px;
    height: 100%;
    display: block;
    position: absolute;
}

#color-list li {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
            tap-highlight-color: rgba(0,0,0,0);
}

#toggle-cheat {
    position: absolute;
    right: 0;
    top : 0;
    z-index: 2;
}
#cheat {
    position: absolute;
    right: 0;
    top: 20px;
    background: #ccc;
    z-index: 1;
    width: 100px;
    opacity: .8;
    padding: 10px 0;
}

.hide {
    display: none;
    opacity: 0;
}
.show {
    display: block;
    opacity: 1;
}
#graph {
        position: absolute;
    right: 0;
    top: 0;
}
#pop-up {
    position: absolute;
    width: 90%;
    height: 90%;
    background: rgba(255, 255, 255, .98);
    top : 5%;
    left: 5%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    padding: 10px;
}

#show-result {
    padding: 10px;
    background-color: #3583B4;
    color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;

    -webkit-animation : animBtn 10s infinite;
            animation : animBtn 10s infinite;
}



@keyframes animBtn {
    6.25%  { background-color : #3B84A7; }
    12.5%  { background-color : #39859C; }
    18.75% { background-color : #3B8690; }
    25%    { background-color : #3F8782; }
    31.25% { background-color : #588473; }
    37.5%  { background-color : #6C8164; }
    43.75% { background-color : #837B5D; }
    50%    { background-color : #837B5D; }
    56.25% { background-color : #907660; }
    62.5%  { background-color : #9E6E6F; }
    68.75% { background-color : #9F6D7C; }
    75%    { background-color : #9C6D89; }
    81.25% { background-color : #927099; }
    87.5%  { background-color : #8F6FA4; }
    93.75% { background-color : #8073B2; }
    100%   { background-color : #3583B4; }   
    
}