<template name="Login">  
  
	<div class="home">
		{{>Logo}}
		
		<div class="center">
			<div class="main">
        
				<form method="post" action={{urlNext}} class="formInfos" id="loginForm" >
					<label for="login">Login</label>
					<input type="text" id="login" placeholder="Login"/>
					
					<label for="password">Mot de passe</label>
					<input type="password" id="password" placeholder="Mot de passe" />
					 
					<input type="submit" class="btnPrimary" value="Se connecter" />
				</form>
        
            </div>
		</div>
	</div>
	
</template>  