<template name="Header">
	<header>
		<ul class="breadcrumb">
			<li><a href="{{pathFor route='Index'}}" class="past index"><i class="fa fa-home"></i></a></li>
			<!--<li><a class="past nolink">Test de classement</a></li>-->
			{{#each previousPic}}
				{{>itemLink item=this curTemplate="Valid" curImg=this curClass="past link"}}
			{{/each}}
			{{#each modulesPic}}
				{{#if previous this template}}
					{{>itemLink item=this curTemplate=this curImg=currentPic curClass="past link"}}
				{{else}}
					{{#if current this template}}
						{{>itemNoLink item=this curClass="active"}}
					{{else}}
						{{>itemNoLink item=this curClass="nolink"}}
					{{/if}}
				{{/if}}
			{{/each}}
			{{#each nextPic}}
				{{>itemNoLink item=this}}
			{{/each}}
			<li><a class="nolink">Formulaire</a></li>
		</ul>	
		<div class="aide">
			<i class="fa fa-info"></i>
			<div class="boiteAideContextuelle">
				<div class="aideContextuelle">
					<h2 class="titleCorrectionTool">{{help template "title"}}</h2>
					{{{help template "txt"}}}
				</div>
			</div>
		</div>
		<h3>{{question template}}</h3>
		<h2 class="titleCorrectionTool">{{info template}}</h2>
	</header>
</template>

<template name="itemLink">
			<li>
				<a href={{pathFor route=curTemplate img=curImg}} class={{curClass}} >
					{{formateTxt item}}
				</a>
			</li>
</template>

<template name="itemNoLink">
			<li><a class={{curClass}}>{{formateTxt item}}</a></li>
</template>