<template name="AdminMock">  
  
	<div class="home">

			<div id="wrapper">
		
				<!-- Sidebar -->
				{{>Sidebar}}
		
				<!-- Page Content -->
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								
								<h1>Panneau d'administration</h1>
								<br/><br/><br/>
								
								<table class="table table-hover">  
									<caption>Questionnaires disponibles</caption>
									<thead>
										<tr>
											<th>Nom</th>
											<th>Url</th>
											<th>Maximum de reset</th>
											<th>Affichage</th>
											<th>Date de création</th>
											<th>Modules</th>
											<th>Images</th>
										</tr>
									</thead>
									<tbody>
										{{#each survey}}
											<tr id={{_id}}>
												<td>{{name}}</td>
												<td>{{root_url}}</td>
												<td>{{max_reset_counter}}</td>
												<td>{{#if state}}
														v
													{{else}}
														x
													{{/if}}
												</td>
												<td>{{date_created}}</td>
												<td><input type="submit" id="addModule" class="btn btn-success" value="Ajout" /></td>
												<td><input type="submit" id="addPicture" class="btn btn-success" value="Ajout" /></td>
												<td><input type="submit" id="removeSurvey" class="btn btn-danger" value="Supprimer" /></td>
											</tr>
										{{/each}}
									</tbody>
								</table>
								<br/><br/><br/>
									
								{{#each survey}}
									{{name}}
									<table class="table table-hover">  
										<caption>Modules disponibles</caption>
										<thead>
											<tr>
												<th>Ordre</th>
												<th>Titre</th>
												<th>info_txt</th>
												<th>sorted_color</th>
												<th>filter_admin</th>
												<th>field_form</th>
											</tr>
										</thead>
										<tbody>
											{{#each module_survey}}
												<tr id={{_id}} title={{title}}>
													<td>{{order}}</td>
													<td>{{title}}</td>
													<td><input type="submit" id="addInfotxt" class="btn btn-success" value="Ajout" /></td>
													<td><input type="submit" id="addColor" class="btn btn-success" value="Ajout" /></td>
													<td><input type="submit" id="addFilter" class="btn btn-success" value="Ajout" /></td>
													<td><input type="submit" id="addForm" class="btn btn-success" value="Ajout" /></td>
													<td><input type="submit" id="removeModule" class="btn btn-danger" value="Supprimer" /></td>
												</tr>
											{{/each}}
										</tbody>
									</table>
									
									<br/><br/><br/>
									<table class="table table-hover">  
										<caption>Textes d'infos disponibles</caption>
										<thead>
											<tr>
												<th>Module</th>
												<th>Titre</th>
												<th>Texte</th>
											</tr>
										</thead>
										<tbody>
											{{#each module_survey}} 
												{{#each info_txt}}
													<tr id={{_id}}>
														<td>{{module.title}}</td>
														<td>{{title}}</td>
														<td>{{{txt}}}</td>
														<td><input type="submit" id="removeInfoTxt" class="btn btn-danger" value="Supprimer" /></td>
													</tr>
												{{/each}}
											{{/each}}
										</tbody>
									</table>
									
									<br/><br/><br/>
									<table class="table table-hover">  
										<caption>Couleur du test de classement</caption>
										<thead>
											<tr>
												<th>Module</th>
												<th>Ordre</th>
												<th>Couleur</th>
											</tr>
										</thead>
										<tbody>
											{{#each module_survey}}
												{{#each sorted_color_admin}}
													<tr id={{_id}}>
														<td>{{module.title}}</td>
														<td>{{order}}</td>
														<td>{{color}}</td>
														<td><input type="submit" id="removeColor" class="btn btn-danger" value="Supprimer" /></td>
													</tr>
												{{/each}}
											{{/each}}
										</tbody>
									</table>
									
									<br/><br/><br/>
									<table class="table table-hover">  
										<caption>Filtres disponibles</caption>
										<thead>
											<tr>
												<th>Module</th>
												<th>Ordre</th>
												<th>Nom du filtre</th>
												<th>Valeur initiale</th>
												<th>Min</th>
												<th>Max</th>
												<th>Conversion</th>
												<th>Step</th>
											</tr>
										</thead>
										<tbody>
											{{#each module_survey}}
												
												{{#each filter_admin}}
													<tr id={{_id}}>
														<td>{{module.title}}</td>
														<td>{{order}}</td>
														<td>{{parameter}}</td>
														<td>{{init_value}}</td>
														<td>{{min}}</td>
														<td>{{max}}</td>
														<td>{{conversion}}</td>
														<td>{{step}}</td>
														<td><input type="submit" id="removeFilter" class="btn btn-danger" value="Supprimer" /></td>
													</tr>
												{{/each}}
											{{/each}}
										</tbody>
									</table>
									
									<br/><br/><br/>
									<table class="table table-hover">  
										<caption>Images disponibles</caption>
										<thead>
											<tr>
												<th>Ordre</th>
												<th>Titre</th>
												<th>Type</th>
												<th>Nom de fichier</th>
												{{#each module_survey}}
													{{#if isNotEmpty filter_admin}}
														 <th>Instruction {{title}}</th>
													{{/if}}
												{{/each}}
											</tr>
										</thead>
										<tbody>
											{{#each picture_admin}}
												<tr id={{_id}} title={{title}}>
													<td>{{order}}</td>
													<td>{{title}}</td>
													<td>{{type}}</td>
													<td>{{file_name}}</td>
													{{#each surveyObj.module_survey}}
														{{#if isNotEmpty filter_admin}}
															<td id={{_id}} title={{title}}><input type="submit" id="addInstruction" class="btn btn-success" value="Ajout" /></td>												
														{{/if}}
													{{/each}}
													<td><input type="submit" id="removePicture" class="btn btn-danger" value="Supprimer" /></td>	
												</tr>
											{{/each}}
										</tbody>
									</table>
									
									<br/><br/><br/>
									<table class="table table-hover">  
										<caption>Instructions des images</caption>
										<thead>
											<tr>
												<th>Image</th>
												<th>Module</th>
												<th>Texte</th>
											</tr>
										</thead>
										<tbody>
											{{#each picture_admin}}
												{{#each instruction}}
													<tr id={{_id}}>
														<td>{{picObj.title}}</td>
														<td>{{moduleObj.title}}</td>
														<td>{{txt}}</td>
														<td><input type="submit" id="removeInstruction" class="btn btn-danger" value="Supprimer" /></td>	
													</tr>
												{{/each}}
											{{/each}}
										</tbody>
									</table>
									
									<br/><br/><br/>
									<table class="table table-hover">  
										<caption>Champs disponibles</caption>
										<thead>
											<tr>
												<th>Module</th>
												<th>Ordre</th>
												<th>Type</th>
												<th>Label</th>
												<th>Nom</th>
												<th>Placeholder</th>
												<th>Requis ?</th>
											</tr>
										</thead>
										<tbody>
											{{#each module_survey}}
												
												{{#each field_form}}
													<tr id={{_id}}>
														<td>{{module.title}}</td>
														<td>{{order}}</td>
														<td>{{type}}</td>
														<td>{{label}}</td>
														<td>{{name}}</td>
														<td>{{placeholder}}</td>
														<td>{{#if required}}
																v
															{{else}}
																x
															{{/if}}
														</td>
														<td><input type="submit" id="removeFieldForm" class="btn btn-danger" value="Supprimer" /></td>
													</tr>
												{{/each}}
											{{/each}}
										</tbody>
									</table>
								{{/each}}
								<br/><br/><br/>
								
							</div>
						</div>
					</div>
				</div>
		
			</div>
	</div>
	
</template>  