<!-- template for each input field -->
<template name="InputAdmin">
    {{#if checked}}
		<label for="{{getId id id2 id3}}" class="{{classLabel}}">{{text}}</label>
		<input type="{{type}}" id="{{getId id id2 id3}}" name="{{name}}" placeholder="{{placeholder}}" required="{{required}}" value="{{value}}" checked />
    {{else}}
		<label for="{{getId id id2 id3}}" class="{{classLabel}}">{{text}}</label>
		<input type="{{type}}" id="{{getId id id2 id3}}" name="{{name}}" placeholder="{{placeholder}}" required="{{required}}" value="{{value}}" />
    {{/if}}
</template>

<!-- template for each text area field -->
<template name="TextAreaAdmin">
    <label for="{{getId id id2}}">{{text}}</label>
    <textarea id="{{getId id id2}}" name="{{name}}" placeholder="{{placeholder}}" required="{{required}}" value="{{value}}" ></textarea>
</template>