<div class="content center">
	<div class="home">
		<a href="/" class="logo-home">
			<img src="/assets/images/logo.png" alt="Retour à l'accueil">
		</a>
    
		<main>

		<h1>Êtes-vous une personne daltonienne?</h1>
		<p><strong>Vérifiez votre vision des couleurs</strong> par ce test en ligne conçu dans le cadre du projet de recherche Visionary sur le daltonisme.</p>
		
		<?php
			if($_SESSION['user']['is_logged_in'] !=='ok'){
				require 'views/register.form.htm';
			} else{
				?>
				<p class="text-center"><a  class="pure-button pure-button-primary" href="/test">Testez votre vision des couleurs</a></p>
				<?php
			}
		?>
		</main>

		<?php require "views/footer.htm"; ?>
	</div>
</div>