<div class="content center">
	<div class="home">
		<a href="/" class="logo-home">
			<img src="/assets/images/logo.png" alt="Retour à l'accueil">
		</a>
    
		<main>

		<h1>Êtes-vous une personne daltonienne?</h1>
		<p><strong>Vérifiez votre vision des couleurs</strong> par ce test en ligne conçu dans le cadre du projet de recherche Visionary sur le daltonisme.</p>
		

			    <?php require 'views/register.form.htm'; ?>
				 <p><a href="/test">Faire le test anonymement</a></p>
		</main>

	</div>
</div>