<div class="content">

    <div class="center">
		<a href="#"><img src="/assets/images/logo.png" alt="Visionary"></a>
    </div>
    
    <div class="main">
	    <h1>Êtes-vous une personne daltonienne?</h1>
	    <p>Comment percevez-vous les couleurs?</p>
	    
	    <p>Vérifiez votre vision via un outil de pré-diagnostic du daltonisme.</p>	
 
<p>Ce test a été mis au point dans le cadre du projet de recherche [Visionary].</p>
<p>Veuillez préalablement vous enregistrer pour pouvoir effectuer le test. Vos informations restent strictement privées et ne seront utilisées qu'à des fins statistiques faisant avancer notre recherche en interne.</p>
 
        <?php require 'views/register.form.htm'; ?>

    </div>

</div>