<?php $projectRoot = $SCHEME.'://'.$HOST; ?>
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="<?php echo $ENCODING; ?>"/>
        <meta http-eq="X-UA-Compatible" content="IE=edge">
        
        <script src="https://use.typekit.net/rtv5ulo.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>  

        <meta name="apple-mobile-web-app-title" content="Visionary">
        <meta name="application-name" content="Visionary">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width" />

        <title>Test du daltonisme</title>
    
        <base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>/" />
        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/icons/apple-touch-icon-57x57.png?v=vMMWa37WBk">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/images/icons/apple-touch-icon-60x60.png?v=vMMWa37WBk">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/icons/apple-touch-icon-72x72.png?v=vMMWa37WBk">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/icons/apple-touch-icon-76x76.png?v=vMMWa37WBk">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/icons/apple-touch-icon-114x114.png?v=vMMWa37WBk">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/images/icons/apple-touch-icon-120x120.png?v=vMMWa37WBk">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/images/icons/apple-touch-icon-144x144.png?v=vMMWa37WBk">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/images/icons/apple-touch-icon-152x152.png?v=vMMWa37WBk">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon-180x180.png?v=vMMWa37WBk">

        <link rel="icon" type="image/png" href="assets/images/icons/favicon-32x32.png?v=vMMWa37WBk" sizes="32x32">
        <link rel="icon" type="image/png" href="assets/images/icons/favicon-194x194.png?v=vMMWa37WBk" sizes="194x194">
        <link rel="icon" type="image/png" href="assets/images/icons/favicon-96x96.png?v=vMMWa37WBk" sizes="96x96">
        <link rel="icon" type="image/png" href="assets/images/icons/android-chrome-192x192.png?v=vMMWa37WBk" sizes="192x192">
        <link rel="icon" type="image/png" href="assets/images/icons/favicon-16x16.png?v=vMMWa37WBk" sizes="16x16">

        <link rel="manifest" href="assets/images/icons/manifest.json?v=vMMWa37WBk">
        <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg?v=vMMWa37WBk" color="#333333">
        <link rel="shortcut icon" href="assets/images/icons/favicon.ico?v=vMMWa37WBk">
        
        <meta name="apple-mobile-web-app-title" content="Visionary">
        <meta name="application-name" content="Visionary">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="assets/images/icons/mstile-144x144.png?v=vMMWa37WBk">
        <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml?v=vMMWa37WBk">
        <meta name="theme-color" content="#ffffff">
		<meta name="description" content="Vérifiez si vous êtes, ou non, daltonien(ne) en effectuant un test de classement des couleurs." />

        <meta property="og:title" content="Test du daltonisme"/>
        <meta property="og:image" content="http://<?php echo $_SERVER['HTTP_HOST']; ?>/assets/images/visionary-carre-black-128.png"/>
        <meta property="og:site_name" content="Visionary"/>
        <meta property="og:description" content="Vérifiez si vous êtes, ou non, daltonien(ne) en effectuant un test de classement des couleurs."/>
		<meta property="og:url" content="https://test-your.colour-blindness.org" />
		<meta property="og:type" content="website"/>
		
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@pixeline" />
		<meta name="twitter:title" content="Visionary: Le test du daltonisme." />
		<meta name="twitter:description" content="Vérifiez si vous êtes, ou non, daltonien(ne) en effectuant un test de classement des couleurs." />
		<meta name="twitter:image" content="http://<?php echo $_SERVER['HTTP_HOST']; ?>/assets/images/visionary-carre-black-128.png" />
              
        <link rel="stylesheet" href="assets/css/app.css">
    </head>
    <body>

        <?php if($_SESSION['user']['is_logged_in'] =='ok'): ?>
            <div class="pure-g">
                <div class="pure-u-1 inner-row">
                    <i class="fa fa-user fa-2xx"></i> Bonjour, <a href="/admin"><?php echo $_SESSION['user']['name']; ?></a>
                </div>
            </div>
        <?php  endif; ?>
        
        <?php echo $this->render(Base::instance()->get('content')); ?>
        <?php
            if($DEBUG >2){
                pr("SESSION LOG : on layout.htm");
                pr($_SESSION);
            }
        ?>

        <script src="/assets/js/jquery-1.12.0.min.js"></script>
        <script src="/assets/js/validate.js"></script>
        <script src="/assets/js/tools.js"></script>
        <script src="/assets/js/touch-dnd.js"></script>
        <script src="/assets/js/velocity.js"></script>
        <script src="/assets/js/velocity.ui.js"></script>
        <script src="/assets/js/classement.js"></script>
        <script src="/assets/js/result.js"></script>
        <script src="/assets/js/app.js"></script>
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-162823-34', 'auto');
          ga('send', 'pageview');

        </script>       

    </body>
</html>
