
<h1>Fix database</h1>

<form action="/admin/fixdatabase" method="POST">
    <p>
        <button class="pure-button pure-button-primary" type="submit" name="action" value="default_users">Create default users</button>
    </p>
    <p>
        <button class="pure-button pure-button-primary" type="submit" name="action" value="fix_creation_date">FIX Test Creation Date</button class="pure-button pure-button-primary">
    </p>
    <p>
        <button class="pure-button pure-button-primary" type="submit" name="action" value="delete_empty_creation_date">DELETE EMPTY Test Creation Date</button class="pure-button pure-button-primary">
    </p>
    <p>
        <button class="pure-button pure-button-primary" type="submit" name="action" value="fix_test_duration">FIX Test Duration</button>
    </p>
    
</form>

<p>{{ @message }}</p>
