<div class="content center">
    <div class="home">
        <a href="/admin" class="logo-home">
            <img src="/assets/images/logo.png" alt="Retour à l'accueil">
        </a>
    
        <main>
            <h2>Fix database</h2>
            
            <form action="/admin/fixdatabase" method="POST">
            <p>
                <button class="pure-button pure-button-primary" type="submit" name="action" value="fix_creation_date">FIX Test Creation Date</button class="pure-button pure-button-primary">
            </p>
            <p>
                <button class="pure-button pure-button-primary" type="submit" name="action" value="delete_empty_creation_date">DELETE EMPTY Test Creation Date</button class="pure-button pure-button-primary">
            </p>
            <p>
                <button class="pure-button pure-button-primary" type="submit" name="action" value="fix_test_duration">FIX Test Duration</button>
            </p>
      
            </form>

            <p><?php echo $message; ?></p>
        </main>

        <?php require "views/footer.htm"; ?>
    </div>
</div>