/*
---------------------------------------------------------------------------------------------------
	Mixin
--------------------------------------------------------------------------------------------------- 
*/
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	-ms-border-radius:    $radius;
	border-radius:         $radius;
}

/*
---------------------------------------------------------------------------------------------------
	Base layout
--------------------------------------------------------------------------------------------------- 
*/

$primary-color: #0277BD;
$secondary-color: rgba(0,0,0,0.7);

body {
	background-color: #FAFAFA;
	color:#000;
	font:normal 100% "proxima-nova", sans-serif;
	-webkit-font-smoothing: antialiased;

}

.center {
	width: 940px;
	margin:0 auto;
}

header, footer {
	background-color: #fff;
}

a {
	text-decoration: none;
}

a.woaw {
	
	&:hover {
		color: $primary-color;
		transition: color .3s ease-in-out 0s;				
	}
	
	&:hover:before {
	  visibility: visible;
	  transform: scaleX(1);
	}

	&:before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 1px;
	  bottom: -8px;
	  left: 0;
	  background-color: $primary-color;
	  visibility: hidden;
	  transform: scaleX(0);
	  transition: all .3s ease-in-out 0s;
	}
}

.btn {
	display: inline-block;
    padding: 0.8em 1.5em 0.65em 1.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    @include border-radius(4px);
    text-transform: uppercase;
}

.primary {
	color: $primary-color;
    border-color: $primary-color;
    //transition: background-color .3s ease;
    
    &:hover {
	    color:#fff;
		background-color: $primary-color;
    }
    
}

.text-center { // pour les boutons
	text-align: center;
}

header {
	padding:30px 0 50px 0;
	
	h1 {
		float:left;
		width: 20%;
	}

	nav {
		
		float:right;
		margin-top:-8px;
		
		ul li {
			
			display: inline;
			margin-left:30px;
			
			a {
				text-transform: uppercase;
				color:#000;
				font-size: 0.8em;
				position: relative;

			}
			
		}
	}

}

footer {
	
	padding-top:20px;
	padding-bottom:20px;
	
	ul {
		
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	
	
		li.col {
			flex: 1;
			
			h4 {
				text-transform: uppercase;
				margin-bottom: 5px;
			}
			
			a {
			   display: inline-block;
			   color:$primary-color;
			   border-bottom: solid 1px transparent;
			   padding-bottom: 3px;
			   font-size: 0.9em;

			   &:hover {
				   border-bottom: solid 1px #000;
				   color:#000;
			   }
			   
			}
  		   		   
		}
		
		li.col:nth-child(2) {
			margin-left: 40px;
			margin-right: 40px;
		}

		li.col:nth-child(3) {
			margin-right:40px;
			
		}

	}
	
}

h2 {
  font-family: "kepler-std-display";
  font-size: 1.9em;
  text-align: center;
}


/*
---------------------------------------------------------------------------------------------------
	Homepage
--------------------------------------------------------------------------------------------------- 
*/

section.aboutVisionary {
	
	margin-bottom:80px;
	
	h2 {
		padding:70px;
	}

	/*
		VERSION PURECSS
	*/
	.pure-g {
		
		.pure-u-1 {
		
			background:#fff;
			border-top:solid 1px $primary-color;
			
			h3 {
			   text-align: center;
			   text-transform: uppercase;
			   margin-bottom: 40px;
			   position: relative;
			   
			   	&:after {
					content: "";
					display: table-cell;
					width: 20px;
					border-bottom: solid 1px $primary-color;
					position: absolute;
					left: 45%;
					margin-top: 10px;
			   	}
			
			   
			}
			
			p {
			   font-weight: lighter;
			   font-size: 0.9em;
			   line-height: 1.5em;
			   color:$secondary-color;
			}
			
			p.whisper {
				margin-top:10px;
				font-size: 0.7em;
				color:rgba(0,0,0,0.55);
			}
			
			.btn {
				margin-top:25px;
				font-size: 0.8em;
			}
			
			.l-box {
		        padding:30px 35px;
		    }
    
		}

	    .pure-g--gutter {
			margin: 0 15px;
		}
				
	}
	
	
	/*
		VERSION REMY
	*/	
	ul {
		
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	
		li.col {
		   
		   flex: 1;
		   background:#fff;
		   padding:30px 35px;
		   border-top:solid 1px $primary-color;
		   
		   h3 {
			   text-align: center;
			   text-transform: uppercase;
			   margin-bottom: 40px;
			   position: relative;
			   
			   	&:after {
					content: "";
					display: table-cell;
					width: 20px;
					border-bottom: solid 1px $primary-color;
					position: absolute;
					left: 45%;
					margin-top: 10px;
			   	}

			   
		   }
		   
		   p {
			   font-weight: lighter;
			   font-size: 0.9em;
			   line-height: 1.5em;
			   color:$secondary-color;
		   }
		 
		   p.whisper {
				margin-top:10px;
				font-size: 0.7em;
				color:rgba(0,0,0,0.55);
			}
		   
		   .btn {
				margin-top:25px;
				font-size: 0.8em;
		   }
		   
		}
		
		.col:nth-child(2) {
			margin-left:15px;
			margin-right:15px;
		}
	}
	
}

section {
	
	.betterInternet {
		padding:30px;
		background-color:#fff;		
		
		h2 {
			width: 80%;
			margin:0 auto;
			margin-bottom:60px;
			
			&:after {
				content: "";
				display: table-cell;
				width: 20px;
				border-bottom: solid 1px $primary-color;
				position: absolute;
				left: 49%;
				margin-top: 20px;
		   	}
	
		}
		

		ul {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
	
			li.col {
			   flex: 1;
			   padding:0 5px;		   
			  
				h3 {
					margin-bottom:15px;
				}			  
			  
			   p {
				   font-weight: lighter;
				   font-size: 0.9em;
				   line-height: 1.5em;
				   color:$secondary-color;
			   }
			   
			   a {
				   display: inline-block;
				   margin-top:15px;
				   color:$primary-color;
				   border-bottom: solid 1px $primary-color;
				   padding-bottom: 3px;
				   transition: color .3s ease;
				   transition: border-color .3s ease;
				   
				   	   
				   &:hover, &:active, &:focus {
					   color:#000;
					   border-bottom: solid 1px #000;
				   }
				   
			   }
			   
			}
			
			.col:nth-child(2) {
				padding:0 80px;
			}
			
		
		}
			
	}

}

section.notAlone {
	
	margin-top:80px;
	margin-bottom:80px;


	h2 {
		margin-bottom: 50px;
	}
	
	ul {
		
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	
	
		li.col {
			
			flex: 1;
			display: inline-block;
			border-top:solid 1px $primary-color;	   
			  
			a {
				display: block;
				background-color: #fff;
				text-align:center;
				padding:30px 20px 20px 20px;
				
				img {
					-webkit-transform: translate(0, 0);
					-moz-transform: translate(0, 0);
					-ms-transform: translate(0, 0);
					-o-transform: translate(0, 0);
					transform: translate(0, 0);
					-webkit-transition: -webkit-transform 0.2s ease-in;
					-moz-transition: -moz-transform 0.2s ease-in;
					-o-transition: -o-transform 0.2s ease-in;
					transition: transform 0.2s ease-in;
				}

				
				&:hover img {
					
					-webkit-transform: translate(0, -5%);
					-moz-transform: translate(0, -5%);
					-ms-transform: translate(0, -5%);
					-o-transform: translate(0, -5%);
					transform: translate(0, -5%);				
				}
				
			}
		   		   
		}
		
		li.col:nth-child(2) {
			margin-left: 20px;
			margin-right: 20px;
			
		}

		li.col:nth-child(3) {
			margin-right:20px;
			
		}

	}


	
}


/*
---------------------------------------------------------------------------------------------------
	2. Helper
--------------------------------------------------------------------------------------------------- 
*/

.clearfix:before, .clearfix:after {content: " ";  display:table;}
.clearfix:after {clear: both;} .clearfix {*zoom:1;}



