<template name = "Sidebar">
	
	<div class="left">
		<h1><a href="{{pathFor route='Index'}}"><img src="../../pictures/logo_white.png" alt="Visionary" /></a></h1>
		<nav>
			<ul>
				<li><a href="{{pathFor route='Dashboard'}}" class={{isActive template "Dashboard"}}><i class="fa fa-tachometer"></i>Dashboard</a></li>
				<li><a href="{{pathFor route='Config'}}" class={{isActive template "Config"}}><i class="fa fa-check-square-o"></i>Questionnaires</a>
					<ul class="submenu">
						<li><a href="{{pathFor route='ConfigSurvey'}}" class={{isActive template "ConfigSurvey"}}>Ajouter</a></li>
						<li><a href="">Images</a></li>
						<li><a href="">Submenu</a></li>
					</ul>
				</li>
				<li><a id="logout" href="{{pathFor route='Login'}}"><i class="fa fa-sign-out"></i>Logout</a></li>
			</ul>
		</nav>
	</div>
		
</template>