<template name = "Test2">
	
	<header>
		<ul class="breadcrumb">
			<li><a href="/" class="past index"><i class="fa fa-home"></i></a></li>
			<li><a href="test1" class="past">Test de classement</a></li>
			<li><a href="test2" class="active">Choix de l'image</a></li>
			<li><a href="">Filtre</a></li>
			<li><a href="">Choix de l'image</a></li>
			<li><a href="">Filtre</a></li>
			<li><a href="">Upload photo</a></li>
			<li><a href="">Merci</a></li>
		</ul>
		<div class="aide">
			<i class="fa fa-info"></i>
			<div class="boiteAideContextuelle">
				<div class="aideContextuelle">
					<h2>Êtes-vous daltonien(ne)?</h2>
					<p>
						Le test que vous allez réaliser à pour objectif de nous permettre de mieux comprendre 
						votre daltonisme et au terme du test, corriger les couleurs de votre écran selon votre vision.
					</p>
				</div>
			</div>
		</div>
		<h2>Ajuster l'image jusqu'à ce que le chiffre soit visuellement agréable pour vous</h2>
	</header>
		
	<ul class="filtreAjustement">
		<li class="filtreMoins imgMoins"><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></li>
		<li><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></li>
		<li class="filtrePlus imgPlus"><img src="pictures/correction_tool/Ishihara/image01.svg" alt="" /></li>
	</ul>
	
	<a href="test3" class="btnPrimary">Valider mon choix</a>
	
</template>