<template name = "Test5">
	
	<header>
		<ul class="breadcrumb">
			<li><a href="index" class="past index"><i class="fa fa-home"></i></a></li>
			<li><a href="test1" class="past">Test de classement</a></li>
			<li><a href="test2" class="past">Choix de l'image</a></li>
			<li><a href="test3" class="past">Filtre</a></li>
			<li><a href="test4" class="past">Choix de l'image</a></li>
			<li><a href="" class="active">Filtre</a></li>
			<li><a href="">Upload photo</a></li>
			<li><a href="">Merci</a></li>
		</ul>
		<div class="aide">
			<i class="fa fa-info"></i>
			<div class="boiteAideContextuelle">
				<div class="aideContextuelle">
					<h2>Êtes-vous daltonien(ne)?</h2>
					<p>
						Le test que vous allez réaliser à pour objectif de nous permettre de mieux comprendre votre daltonisme 
						et au terme du test, corriger les couleurs de votre écran selon votre vision.
					</p>
				</div>
			</div>
		</div>
		<h2>Validation de vos préférences</h2>
	</header>
	
	<div class="validationUserPhoto">
			
		<p>
			C'est l'heure de vérité! Afin de vérifier vos préférences, nous vous invitons à uploader une photo de votre choix. 
			Cela doit nous permettre de valider si les réglages que vous avez effectués précédemment fonctionnent avec votre propre photo.
		</p>
		
		<form method="post" action="test6">
			<input type="file" accept="image/*" />
			<input type="submit" class="btnPrimary" value="Envoyer ma photo" />
		</form>
			
	</div>
	
</template>