<template name = "Test4">
	
	<header>
		<ul class="breadcrumb">
			<li><a href="index" class="past index"><i class="fa fa-home"></i></a></li>
			<li><a href="test1" class="past">Test de classement</a></li>
			<li><a href="test2" class="past">Choix de l'image</a></li>
			<li><a href="test3" class="past">Filtre</a></li>
			<li><a href="" class="active">Choix de l'image</a></li>
			<li><a href="">Filtre</a></li>
			<li><a href="">Upload photo</a></li>
			<li><a href="">Merci</a></li>
		</ul>
		<div class="aide">
			<i class="fa fa-info"></i>
			<div class="boiteAideContextuelle">
				<div class="aideContextuelle">
					<h2>Êtes-vous daltonien(ne)?</h2>
					<p>Le test que vous allez réaliser à pour objectif de nous permettre de mieux comprendre votre daltonisme et au terme du test, corriger les couleurs de votre écran selon votre vision.</p>
				</div>
			</div>
		</div>
		<h2>Ajuster l'image jusqu'à ce qu'elle soit visuellement agréable pour vous</h2>
	</header>
		
	<ul class="filtreAjustement">
		<li class="filtreMoins"><img src="pictures/correction_tool/Technique/image07.jpeg" alt="" /></li>
		<li><img src="pictures/correction_tool/Technique/image07.jpeg" alt="" /></li>
		<li class="filtrePlus"><img src="pictures/correction_tool/Technique/image07.jpeg" alt="" /></li>
	</ul>
	
	<a href="test5" class="btnPrimary">Valider mon choix</a>

</template>