<template name="Form">
	
	<div class="home">
	
		{{>Logo}}
		
		<div class="center">
			<div class="main">
				
				<h2>{{infoTxt.title}}</h2>
				{{{infoTxt.txt}}}
				 
				<form method="post" action="" class="formInfos" id="userForm">
					{{#each fieldForm}}
						{{>Input type=type label=label name=name placeholder=placeholder required=required}}
					{{/each}}
					<input type="submit" class="btnPrimary" value="Valider" />
				</form>
				
			</div>
			
		</div>
		
	</div>
	
</template>

<!-- template for each input field -->
<template name="Input">
	
	{{#if isRadio type}}
		<label class="visible" for={{giveLabel label 0}}>{{giveLabel label 0}} <input type="{{type}}" id={{giveLabel label 0}} name="{{name}}" value="M" /></label>
		<label class="visible" for={{giveLabel label 1}}>{{giveLabel label 1}} <input type="{{type}}" id={{giveLabel label 0}} name="{{name}}" value="F" /></label>
	{{else}}
		<label for="{{label}}">{{label}}</label>
		<input type="{{type}}" id={{label}} name="{{name}}" placeholder={{placeholder}} required={{required}}/>
	{{/if}}
	
</template>