* {
	margin:0; 
	padding:0;
}

body {
	font:normal 100% "jaf-bernino-sans", sans-serif;
	font-weight: lighter;
	background-color:#fafafa;
	color:#333;
}

header {
	background-color:#fff;
	position: relative;
}

header h3 {
	color:#bbb;
	text-align: center;
	font-size: 1.0em;
	font-family: "jaf-bernino-sans", sans-serif;
	
}

header h2 {
	text-align: center;
	font-size: 2.3em;
	font-family: "kepler-std-display", serif;
	padding:20px 15px;
}


.btnPrimary {
	display: block;
	padding:12px 25px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	width: 150px;
	margin:20px auto 0 auto;
	background-color:#0277BD;
	color:#fff;
	text-decoration: none;
	font-weight: 500;
	transition: background-color 0.5s ease;
}

.content {
	padding-top:30px;
	padding-bottom:30px;
}

.btnPrimary:hover {
	background-color:#01579B;
}

.breadcrumb {
	transform: translateY(-30px);
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.breadcrumb.active {
	transform: translateY(0px);
}

.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
	border-bottom:solid 1px #fff;
}
	
.breadcrumb li { 
	float: left; 
	font-size: 0.8em;

}
.breadcrumb li a {
	color: #000;
	text-decoration: none; 
	padding: 8px 0 8px 50px;
	background:#efefef;
	position: relative; 
	display: block;
	float: left;
	cursor: default;
}
.breadcrumb li a.past, .breadcrumb li a.active {
	background: #0277BD;
	color:#fff;
}

.breadcrumb li a.index {
	padding-left:20px;
	cursor: pointer;
}

.breadcrumb li a.past:after, .breadcrumb li a.active:after {
	border-left: 30px solid #0277BD;
	color:#fff;
}

.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;         
	border-bottom: 50px solid transparent;
	border-left: 30px solid #efefef;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2; 
}
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}

.breadcrumb li a.index:hover, .breadcrumb li a.past:hover { background: #01579B; cursor: pointer;}
.breadcrumb li a.index:hover:after, .breadcrumb li a.past:hover:after { border-left-color: #01579B!important; }

.aide {
	position: absolute;
	right: 20px;
	top: 10px;
}

.aide .fa-info {
	border-radius: 4px;
    padding: 4px 10px;
    line-height: 14px;
    color: #0277BD;
    border: solid 1px #0277BD;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
}

.aide .aideContextuelle {
    border: solid 1px #eee;
    background: #fff;
    padding: 10px 30px;
    border-radius: 4px;
    position: absolute;
    right: -10px;
    top: 38px;
    width: 400px;
    min-height: 200px;
    z-index: 2;
	box-shadow: 1px 1px 2px 0px #eee;
}
.boiteAideContextuelle {
	display: none;
}
.boiteAideContextuelle.active {
	display: block;
}


.aide .aideContextuelle h2 {
	font-size: 2em;
}

.aide .aideContextuelle:after{
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 12px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.aide .aideContextuelle:before{
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #eee;
}


/* ---------------------------------------------- 
	INDEX.HTML // START PAGE 
---------------------------------------------- */
.home {
	margin:50px 0;
}

.home .center {
	max-width: 700px;
	margin:0 auto;
}

.home h1 {
	text-align: center;
}

.home .main {
	background-color:#fff;
	padding:50px;
	border-top:solid 2px #0277BD;
	margin-top:70px;
}

.home .main h2 {
	font-size: 2.2em;
	margin-bottom:50px;
	font-family: "kepler-std-display", serif;
	text-align: center;
	color:#000;
}

.home .main p {
	font-size: 1.3em;
	line-height: 1.8em;
	margin-bottom:30px;
}

.home .main p span {
	font-weight: 500;
}

/* ---------------------------------------------- 
	select.html // Choix images (croix)
---------------------------------------------- */

.choixImagesCroix {
	margin-bottom:20px;
}

.choixImagesCroix ul {
    text-align: center;
}

.choixImagesCroix ul li {
    display: inline-block;
}


.choixImagesCroix ul li a.carre {
	width: 14em;
}

.choixImagesCroix ul li a {
    display: block;
	background-clip: content-box;
	width: 19em;
    height: 14em;
    margin:5px;
}

.choixImagesCroix ul li a.carre {
	width: 14em;
}

.choixImagesCroix ul li.hidden {
	opacity: 0.1;
}

.choixImagesCroix ul li img {
	max-width: 100%;
}

.choixImagesCroix ul li img .boxShadow {
    box-shadow: 1px 1px 5px 2px #888888;
}

/* ---------------------------------------------- 
	select_ligne.html // Choix image (ligne)
---------------------------------------------- */
.choixImagesLigne ul {
    text-align: center;    
}

.choixImagesLigne ul li {
	display: inline-block;
    width: 250px;
    padding:10% 12px;
}

.choixImagesLigne ul li img {
	max-width: 100%;
}


@media screen and (max-width:1140px){
	.choixImagesLigne ul li {
		width: 170px;
	}
}

@media screen and (min-width:1141px) and (max-width:1390px){
	
	.choixImagesLigne ul li {
		width: 200px;
	}
	
}


/* ---------------------------------------------- 
	adjust.html // Filtre +/- image
---------------------------------------------- */
ul.filtreAjustement {
	text-align: center;
}

ul.filtreAjustement li:first-child, ul.filtreAjustement li:last-child {
	width: 250px;
	height: 250px;
}

ul.filtreAjustement li {
	display: inline-block;
	width: 33%;
	padding:10px;
}

ul.filtreAjustement li img {
	max-width: 100%;
}

ul.filtreAjustement .filtreMoins, ul.filtreAjustement .filtrePlus {
	position: relative;
	cursor: pointer;
}

ul.filtreAjustement .filtreMoins img, ul.filtreAjustement .filtrePlus img {
	margin-bottom: 50%;
}

.imgMoins:before {
	content: "-";
    position: absolute;
    font-size: 13.5em;
    font-weight: bold;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.7;
    top:-5px;
}

.imgPlus:before {
	content:"+";
    position: absolute;
    font-size: 13em;
    font-weight: bold;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.7;
    top: -10px;
}

@media screen and (min-width:0px) and (max-width:850px){

	/* adjust.html // Filtre +/- image */
	ul.filtreAjustement li {
	    display: block;
	    width: 90%;
	    margin: 0 auto;
   }

	ul.filtreAjustement li:first-child, ul.filtreAjustement li:last-child {
		width: 100px;
		height: 100px;
	}

	.imgMoins:before, .imgPlus:before {
		font-size: 6em;
	}

}

@media screen and (max-width:1023px){

	
	ul.filtreAjustement .filtreMoins img, ul.filtreAjustement .filtrePlus img {
		margin-bottom: 20%;
	}

}

@media screen and (min-width:1024px) and (max-width:1300px){
	
	ul.filtreAjustement .filtreMoins img, ul.filtreAjustement .filtrePlus img {
		margin-bottom: 30%;
	}

	
}


/* ---------------------------------------------- 
	choice.html // Validation d'une image / 3
---------------------------------------------- */
.validationImage {
	display: block;
	text-align: center;
	margin:30px auto;
	max-height: 450px;
}

.validationImage img {
	display: block;
	text-align: center;
	margin:30px auto;
	max-height: 450px;
}


ul.validationImage li {
    display: inline-block;
    position: relative;
	width: 30%;
}


ul.validationImage li a.linkPicture span.check {
	position: absolute;
	top:0;
	right: 0;
}

ul.validationImage li a.linkPicture span.check .fa-check {
    border-radius: 100px;
    border: solid 5px green;
    padding: 30px;
    color: green;
    font-size: 80px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.22);
 }
    
ul.validationImage li img {
	max-width: 100%;
}

ul.confirmation {
	display: inline-block;
	width: 100%;
	text-align: center;
	
}

ul.confirmation li {
	display: inline;
}

ul.confirmation li a.btnPrimary2 {
	padding:12px 25px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	width: 150px;
	margin:20px auto 0 auto;
	background-color:#0277BD;
	color:#fff;
	text-decoration: none;
	font-weight: 500;
	transition: background-color 0.5s ease;
}

ul.confirmation li a.btnSecondary {
	color:#000;
	padding:5px 15px;
}

ul.confirmation li a.btnSecondary:hover {
	color:#999;
	
}

ul.confirmation  li a.btnPrimary {
	width: 180px;
}

/* ---------------------------------------------- 
	TEST5.HTML // LAYOUT VALIDATION IMAGE USER
---------------------------------------------- */


.validationUserPhoto  {
	width: 700px;
	margin:0 auto;
}

.validationUserPhoto  {
	background-color:#fff;
	padding:50px;
	margin-top:70px;
}

.validationUserPhoto p {
	font-size: 1.3em;
	line-height: 1.8em;
}

.validationUserPhoto form {
	margin-top:30px;
	text-align: center;
}

.validationUserPhoto form input[type="file"]{
	font-size: 1em;
}


.validationUserPhoto form input[type="submit"]{
	border:none; 
	font-size: 1em;
	width: 200px;
	font-family: "jaf-bernino-sans", sans-serif;
	margin-top:40px;
}


/* ---------------------------------------------- 
	MERCI.HTML // LAYOUT MERCI + INFOS USER
---------------------------------------------- */


.formInfos label {
	display: none;
}

.formInfos label.visible {
	display: block;
	cursor: pointer;
	margin:8px 0;
}

.formInfos input[type="radio"] {
	display: inline;
	height: 16px;
	margin-left:5px;
}

.formInfos input {
	display: block;
	margin-bottom:15px;
	width: 250px;
	height: 30px;
	padding:5px;
	outline: none;
	border:solid 1px #ddd;
	border-top:solid 1px #0277BD;
	font-family: "jaf-bernino-sans", sans-serif;
	font-size: 0.9em;
}

.formInfos input#age {
}

.formInfos input:active, .formInfos input:focus, .formInfos input:hover {
	border-top:solid 1px green;
}

.formInfos input[type="submit"]{
	border:none; 
	font-size: 1em;
	width: 140px;
	height: 40px;
	font-family: "jaf-bernino-sans", sans-serif;
	margin-top:40px;
	margin-bottom:0;
}

/* ---------------------------------------------- 
	VERSION MOBILE (< 480px)
---------------------------------------------- */
@media screen and (max-width:480px){

	
	/* index.html // Homepage */
	.home {
		margin:0px 0;
		background:#fff;
		padding-top:30px;
	}
	
	.home .main {
		background-color:#fff;
		padding:40px 20px;
		border-top:none;
		margin-top:0px;
	}	
	
	.home .main p {
		font-size: 1.2em;
	}
	
	/* header des pages du test (!= homepage) */
	header ul.breadcrumb, header .aide  {
		display: none;
	}	
	
	header h2 {
		text-align: left;
	    font-size: 1.5em;
	    padding: 20px;
	}
	
	/* select.html // Choix images (choix) */
	.choixImagesCroix ul li {
	    width: 80%;
	    display: block;
	    margin: 0 auto;
	}
	
	
	/* choice.html // Choix d'une image sur 3 */
	ul.validationImage li {
	    display: block;
	    width: 90%;
	    margin: 0 auto;
	
	}

	ul.confirmation li {
	    display: block;
	    margin-bottom: 30px;
	}

	/* Select_ligne.html // Choix images (ligne) */
	.choixImagesLigne ul li {
		display: block;
		width:90%;
		margin:0 auto;
		padding:0;
	}

}
/* ---------------------------------------------- 
	VERSION INTERMEDIAIRE (< 1023px)
---------------------------------------------- */
@media screen and (min-width:481px) and (max-width:1023px){
	
	header ul.breadcrumb, header .aide  {
		display: none;
	}	
	
	header h2 {
		text-align: left;
	    max-width: 700px;
	    margin: 0 auto;
	}

	/* Select_ligne.html // Choix images (ligne) */
	.choixImagesLigne ul li {
		display: block;
		width:90%;
		margin:0 auto;
		padding:0;
	}


}

/* TODO : scale of pictures (overlay if not) 
img.render, img.visionarized {
	width : 100%;
}
*/