/* 
  CSS declarations for master_layout 
*/

* { 
  outline: 0!important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 100%;
  position:relative;
}

.center {
  margin:0 auto;
  max-width: 90%;
}

#header {
  margin-bottom:50px;
}

    /* 
      progress bar and Ariane wire
    */

      #progressBar {
          z-index: 1;
          width: 80%;
          margin:auto;
          height: 20px;
          border: 1px solid #d8e7fb;
          border-radius: 8px;
          background-color: #eff5fd;
      }

      #progressBar span {
          z-index: 5;
          height: 100%;
          color: #fff;
          text-align: center;
          line-height: 20px;
          width: 0;
          border-radius: 8px;
          background-color: #0099ff;
      }

      div.progress-label {
          z-index: 2;
          width: 100%;
          text-align: center;
          list-style: none; 
          overflow: hidden; 
          margin-left: 7%;
      }

      div.progress-label li { 
        float: left; 
        color: #828d97;
        text-decoration: none; 
        background-color: #d8e7fb;
        position: relative; 
        display: block;
        float: left;
        width : 27%;
      }
      
      div.progress-label li:before { 
        content: " "; 
        width: 0; 
        height: 0;
        border-top: 50px solid transparent;       
        border-bottom: 50px solid transparent;
        border-left: 30px solid white;
        position: absolute;
        top: 50%;
        margin-top: -50px; 
        margin-left: 3px;
        left: 100%;
        z-index: 1; 
      }

      div.progress-label li:after { 
        content: " "; 
        width: 0; 
        height: 0;
        border-top: 50px solid transparent; 
        border-bottom: 50px solid transparent;
        border-left: 30px solid #d8e7fb;;
        position: absolute;
        top: 50%;
        margin-top: -50px; 
        left: 100%;
        z-index: 2; 
      }

      div.progress-label li:first-child {
        width : 24%;
      }
      div.progress-label li:last-child {
        width : 28%;
      }


    /* 
      the pictures to render 
    */
        #imgContent {
            width:50%;
            height:50%;
            cursor: zoom-in;
        }

        #imgContent #image14 {
            cursor: pointer;
        }

        #imgContent canvas, 
        #imgContent img {
            display: block;
            width: 100%;
            height: 100%;
        }

        h2.questionLabel {
          font-size: 20px;
          max-width: 90%;
          margin-bottom:40px;
        }

        label.answerLabel {
          font-size: 17px;
          max-width: 90%;
        }

        #formQA #infoNumber {
          font-style: italic;
        }

        #correction {
          margin-top:30px;
          width:20%;
        }

        p#questionType {
          font-style:bold;
          font-size: 16px;
        }

        /* Choice of type for RGB filters */
        #choiceType {
          list-style:none;
          display: none;
          margin-bottom : 40px;
        }

        #choiceType img {
          width : 60%;
          cursor : pointer;
        }

        /* Set of filters (rvb, tsl...) */
        #filters {
          list-style:none;
          margin-left:10px;
          margin-top:10px;
        }

        p#infoFilters {
          margin-bottom: 30px;
        }

        #filters .filter {
          margin-bottom:20px;
          text-align: left;
        }

        #filters {
          display: none;
        }

        /* filter name */
        #filters .filter label {
          padding-left:2px;
        }

        /* slider bar */
        #filters .filter .filterSetting 
        {
          padding: 3px 10px;
          width:150px;
          height:0.2px;
          cursor:pointer;
          margin-top:10px;
          margin-right:20px;
        }

        /* slider button*/
        #filters .filter .filterSetting span
        {
          width:10px;
          height: 20px!important;
          cursor:pointer;
          background: #337ab7;
          border:0;
          margin-top:-2px;
        }

        /* slider value */
        #filters .filter .filterValue {
          width: 22px;
          display: inline-block;
          text-align: center;
        }

        #filters .filter button.less, 
        #filters .filter button.more {
            font-size: 20px;
            width: 30px;
            background: #337ab7;
            color: #fff;
            border: none;
            border-radius: 5px;
        }

        #filters .filter button.more {
            margin-left : 5px;
        }

        /* submit form to reset filters or show next page */
        #formFilter {
          margin-top : 50px;
        }

        /* button 'Suivant' */
        #next {
              margin-left: 5px;
              width:45%;
        }

    /* 
      the pictures to choose 
    */
        #choiceContent {
            display: none;
        }

        /* text show to choose */
        h2#choicePicture {
            font-size: 20px;
            margin-bottom:40px;
            text-align: center;
        }

        p#choiceError {
            text-align: center;
            color:red;
            display: none;
        }

        #choiceImgContent {
            width:100%;
            height:100%;
            margin-bottom:30px;
        }

        #choiceImgContent canvas, 
        #choiceImgContent img {
            width: 100%;
            height: 100%;
            cursor : pointer;
            display: inline-block;
            float:left;
            margin-right: 10px;
        }

        /* animation for selected picture */
        .contentCheck .check {
            width:30%;
            height:30%;
            left:66%;
            position:absolute;
            display: none;
        }

    /* 
      Form to submit with the user's informations
    */
        #field_user {
            margin-left: 50px;
            display:none;
        }
        input.error{
            background-color:rgb(255, 231, 231);
        }
        span.required {
            color : red;
        }
        span#errorSexe {
            font-weight: bold;
        }