<template name = "Adjust">
	
	{{>Header template="Adjust"}}
	
	<div class="content">
		
		<ul class="filtreAjustement">
            <li class="filtre">{{>Picture template="Adjust" idImg="-" check=false click=true imgLess=true classLi="imgMoins"}}</li>
			<li class="normal">{{>Picture template="Adjust" idImg="1" check=false click=false classLi=""}}</li>
		    <li class="filtre">{{>Picture template="Adjust" idImg="+" check=false click=true imgMore=true classLi="imgPlus"}}</li>
        </ul>
        
		<ul class="confirmation">
            <li>{{>linkReset template="Adjust" class="btnSecondary"  txt="Retour"}}</li>
            <li>{{>linkNext template="Adjust" class="btnPrimary" txt="Valider mon choix"}}</li>
		</ul>
		
	</div>
	
</template>