<template name = "Config">
    
    <!-- Sidebar -->
    {{>Sidebar template="Config"}}
    
    <!-- Every surveys displaying -->
	<div class="right">
		
		<header>
			<h2>Mes questionnaires</h2>
			<a href="{{pathFor route='ConfigSurvey'}}" id="addSurveyLink" class="btnPrimary pull-right">Ajouter</a>
		</header>
		
		<div class="content">
			
			<table class="table">  
				<thead>
					<tr>
						<th>Nom</th>
						<th>Url</th>
						<th>Reset max.</th>
                        <th>Compteur satisfaction max.</th>
                        <th>Nombre d'images</th>
						<th>État</th>
						<th>Date de création</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
                    {{#each survey}}
                        <tr class="surveyInserted" id={{_id}}>
                            <td>{{name}}</td>
                            <td>{{root_url}}</td>
                            <td>{{max_reset_counter}}</td>
                            <td>{{max_satis}}</td>
                            <td>{{nbrImg picture_admin}}</td>
                            <td class="center">
                                {{#if state}}
                                    <a href="" class="disableSurvey">
                                            <i class="fa fa-check"></i>
                                    </a>
                                {{else}}
                                    <a href="" class="activeSurvey">
                                            <i class="fa fa-ban"></i>
                                    </a>
                                {{/if}}
                            </td>
                            <td>{{formateDate date_created}}</td>
                            <td class="center">
                                <div class="btn-group">
                                    <a href="{{pathFor route='ConfigSurvey'}}" class="modifier"><i class="fa fa-pencil"></i> Modifier</a>
                                    <div class="dropdown">
                                        <button><i class="fa fa-sort-desc"></i></button>
                                        <ul class="dropdown-menu">
                                            {{#if state}}
                                                <li><a href="" class="disableSurvey" title="Désactiver"><i class="fa fa-ban"></i>Désactiver</a></li>
                                            {{else}}
                                                <li><a href="" class="activeSurvey" title="Activer"><i class="fa fa-check"></i>Activer</a></li>
                                            {{/if}}
                                            <li><a href="" class="duplicateSurvey" title="Dupliquer"><i class="fa fa-files-o"></i>Dupliquer</a></li>
                                            <li><a href="" class="removeSurvey" title="Supprimer"><i class="fa fa-trash-o"></i>Supprimer</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
				</tbody>
			</table>
			
		</div>
	</div>
    
</template>